/* don't forget to implement a reset */

/* you need to implement styles for your dark and your light theme */
/* which will be the default? up to you */
* {
    border-color:rgb(256,256,256);
    color:rgb(256,256,256);
    background-color:rgba(0,0,0,.8);
}